In [3]:
from math import sqrt
from cvxopt import matrix
from cvxopt.blas import dot
from cvxopt.solvers import qp, options
import pylab
import numpy as np
import pandas as pd

In [4]:
my_data = {'Food': ['Pasta with pesto', 'Fried Fish', 'Meat Ravioli', 'Salad'],\
           'Cost': [3,                    4,             5,             6 ],\
           'Type' : ['main',                'main',     'main',       'entry'],\
          'Taste': [1,2,3,4]}

df = pd.DataFrame(data=my_data)

In [5]:
df

   Cost              Food  Taste   Type
0     3  Pasta with pesto      1   main
1     4        Fried Fish      2   main
2     5      Meat Ravioli      3   main
3     6             Salad      4  entry